.surahSelectedPage {
  position: relative;
  padding: 30px 0;

  font-family: "Amiri Quran", serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.surahSelectedPage .surah-title-container {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #efef;
  background: #630707;
  border-radius: 10px;
  user-select: none;
}

.surahSelectedPage .ayahs-container {
  line-height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

.surahSelectedPage .surah-ayah-number {
  display: inline;
  border-radius: 50%;
  color: brown;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-right: 5px solid brown;
  border-left: 1px solid brown;
  user-select: none;
}

.surahSelectedPage .surah-ayah {
  cursor: pointer;
}
