.juzSelectedPage {
  position: relative;
}

.juzSelectedPage .juz-container {
  display: inline-block;
  font-family: "Amiri Quran", serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
}

.juzSelectedPage .surah-title {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border-radius: 10px;
  user-select: none;
  background: url(../../../public/title-surah-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.juzSelectedPage .ayahs-container {
  line-height: 3.5rem;
}

.juzSelectedPage .ayahs-container > span {
  scroll-margin-top: 100px;
}

.juzSelectedPage .ayah-text {
  cursor: pointer;
}

.juzSelectedPage .ayah-text:hover {
  background-color: #e8e0d0;
}

.juzSelectedPage .ayah-number {
  display: inline-flex;
  border-radius: 50%;
  color: #8b4513;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-right: 5px solid #8b4513;
  border-left: 1px solid #8b4513;
  user-select: none;
  height: 30px;
  justify-content: center;
  background: #f7f1e3;
  align-items: center;
}
