.allSurahsPage {
  margin: 35px 0;
}

.allSurahsPage .table-container,
.allSurahsPage .table-container-surahs {
  border-radius: 20px;
  border: solid 2px #000;
  overflow: hidden;
  margin-top: 20px;
}

.allSurahsPage .table-container-surahs .type-counts,
.allSurahsPage .table-container-surahs .type-list-surah {
  display: none;
}

.allSurahsPage table {
  width: 100%;
  table-layout: fixed;
  font-size: 1.3rem;
}

.allSurahsPage table th,
.allSurahsPage table td {
  padding: 10px;
  border: solid 1px #000;
}

.allSurahsPage .table-container-surahs table th:last-child,
.allSurahsPage .table-container-surahs table td:last-child {
  display: block;
}

.allSurahsPage a {
  color: blue;
}

.allSurahsPage table td {
  font-weight: 600;
}

.allSurahsPage table tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
