.nav-bar {
  position: sticky;
  background: #e8dcc8;
  padding: 20px 0;
  margin: 20px 5px;
  border-radius: 10px;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.nav-bar .responsive-container {
  display: none;
}

.nav-bar div,
.nav-bar h2,
.nav-bar .nav-links,
.nav-bar .nav-links li,
.nav-bar .nav-links li a {
  margin: 0;
  user-select: none;
}
.nav-bar .nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar .nav-links li a {
  padding: 0 10px;
  font-size: 20px;
  color: #4a3c2e;
}

.nav-bar .nav-links li a.active {
  color: #e8dcc8;
  background: #7d6b59;
  border-radius: 5px;
  padding: 10px 20px;
}

.nav-bar .nav-links-sx {
  position: absolute;
  width: 100%;
  background: #e8dcc8;
  margin: auto;
  top: 4rem;
  left: 0;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
