* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "system-ui", serif;
  background: bisque;
}

p {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.quranPlayer {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  max-width: 430px;
  height: 35px;
  color-scheme: dark;
  bottom: 20px;
}

.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 3px;
  /* حجم شريط التمرير */
}

/* Scrollbar Thumb (الجزء القابل للسحب) */
::-webkit-scrollbar-thumb {
  background-color: #355a75;
  /* لون الخلفية */
  border-radius: 6px;
  /* شكل الزوايا */
}

/* Scrollbar Track (الجزء الذي لا يمكن السحب) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* لون المسار */
}
